body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}
hr{
    width: 500px;
}
h1{
    color:darkcyan;
}
#board{
    width: 452px;
    height: 450px;
    background-color: skyblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}
#errors{
    color: darkcyan;
}

.tile{
    width: 48px;
    height: 48px;
    border: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

#digits{
    width: 450px;
    height: 50px;
    background-color: skyblue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.number{
    width: 48px;
    height: 48px;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected{
    background-color: cadetblue;
}

.tile-start{
    background-color: rgb(90, 185, 222);
}

.horizontal-line{
    border-bottom: 2px solid white;
}

.vertical-line{
    border-right: 2px solid white;
}

#clear-board{
    font-size: 20px;
    color: white;
    background-color: skyblue;
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 20px;
}

#clear-board:hover{
    background-color: cadetblue;
}

.digit-highlight{
    background-color: rgb(53, 106, 106);
    color: #000;
    font-weight: bold;
}

#new-game{
    font-size: 20px;
    color: white;
    background-color: skyblue;
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 20px;
}

#new-game:hover{
    background-color: cadetblue;
}

#sudoku-solver{
    font-size: 20px;
    color: white;
    background-color: skyblue;
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 20px;
}

#sudoku-solver:hover{
    background-color: cadetblue;
}